@import 'akroma';

:host, .page-body {
  display: block;
  min-height: 70vh;
}


.background {
  background-image: url('../../../assets/images/akroma-bg4-dark.png');
  color: #fff;
  background-size: cover;
  min-height: 750px;
}