<div class="page-body background">
    <div class="container home-section">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">The Ecosystem</h1>
                <div>Akroma platform is a collection of APIs, SDKs and tools that make building on the Akroma network easy.</div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="small-title ">Official</div>
                        <div class="pt-3">
                            <table class="table table-striped table-akroma table-light table-responsive-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="https://github.com/akroma-project" target="_blank">GitHub</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="twitter.com/akroma_org" target="_blank">Twitter</a>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                <td>Discord</td>
                            </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="small-title ">Tools</div>
                        <div class="pt-3">
                            <table class="table table-striped table-akroma table-light table-responsive-sm">
                                <tbody>
                                    <tr>
                                        <td>Explorer</td>
                                    </tr>
                                    <tr>
                                        <td>Token Search</td>
                                    </tr>
                                    <tr>
                                        <td>NFT Browser</td>
                                    </tr>
                                    <tr>
                                        <td>DID Lookup</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="small-title ">Wallets</div>
                        <div class="pt-3">
                            <table class="table table-striped table-akroma table-light table-responsive-sm">
                                <tbody>
                                    <tr>
                                        <td>Desktop</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile</td>
                                    </tr>
                                    <tr>
                                        <td>Web</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="small-title ">Exchanges</div>
                        <div class="pt-3">
                            <table class="table table-striped table-akroma table-light table-responsive-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            <a href="https://app.stex.com/en/trading/pair/BTC/AKA/1D" target="_blank">STEX</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>