<div class="page-body background">
    <div class="container home-section">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">The Platform</h1>
                <div>Akroma platform is a collection of APIs, SDKs and tools that make building on the Akroma network easy.</div>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-md-4">
                <div class="small-title ">OpenSource</div>
                <div class="pt-3">
                    <table class="table table-striped table-dark table-akroma table-responsive-sm">
                        <tbody>
                            <tr>
                                <td>akroma-wallet</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="small-title">APIs</div>
                <div class="pt-3">
                    <table class="table table-striped table-dark table-akroma table-responsive-sm">
                        <tbody>
                            <tr>
                                <td>akroma-wallet</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="small-title">Compatibility</div>
                <div class="pt-3">
                    <table class="table table-striped table-dark table-akroma table-responsive-sm">
                        <tbody>
                            <tr>
                                <td class="middle">Solidity</td>
                                <td><img src="../../../assets/images/Solidity.png" alt="Solidity" class="img-fluid" /></td>
                            </tr>
                            <tr>
                                <td class="middle">Truffle</td>
                                <td><img src="../../../assets/images/Truffle.png" alt="Truffle" class="img-fluid" /></td>
                            </tr>
                            <tr>
                                <td class="middle">OpenZeppelin</td>
                                <td><img src="../../../assets/images/OpenZeppelin.png" alt="OpenZeppelin" class="img-fluid" /></td>
                            </tr>
                            <tr>
                                <td class="middle">VSCode</td>
                                <td><img src="../../../assets/images/VSCode.png" alt="VSCode" class="img-fluid" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>