<div class="page-body background">
    <div class="container home-section">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">The Network</h1>
                <div>Akroma is a low cost blockchain focused on building web5 (web2 + web3) applications</div>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-6 col-sm-12">
                <app-blocks-panel></app-blocks-panel>
            </div>
            <div class="col-md-6 col-sm-12">
                <app-transactions-panel></app-transactions-panel>
            </div>
        </div>
        <div class="row content">
            <div class="col-md-12 col-sm-12">
                <app-contracts-table></app-contracts-table>
            </div>

        </div>
    </div>
</div>